<div>
  <div id="dodge">dodge: {{dodge}}</div>
  <h2>parry</h2>
  <div id="parry">
    {{#each parry as |parryValue|}}
      <div>{{@key}}: {{parryValue}}</div>
    {{/each}}
  </div>
  <h2>block</h2>
  <div id="block">
    {{#each block as |blockValue|}}
      <div>{{@key}}: {{blockValue}}</div>
    {{/each}}
  </div>
</div>