<div>
  <div>You are attacked! Choose defense to use.</div>
  <table>
    <tr class="clickable" id="dodge">
      <td>dodge</td>
      <td>{{dodge}}</td>
    </tr>
  </table>
  <table>
    <tr class="header">
      <td>parry with</td>
      <td>level</td>
    </tr>
    {{#each parry as |parryValue|}}
      <tr class="clickable parryRow" weapon="{{@key}}">
        <td>{{@key}}</td>
        <td>{{parryValue}}</td>
      </tr>
    {{/each}}
  </table>
  <table>
    <tr class="header">
      <td>block with</td>
      <td>level</td>
    </tr>
    {{#each block as |blockValue|}}
      <tr class="clickable blockRow" weapon="{{@key}}">
        <td>{{@key}}</td>
        <td>{{blockValue}}</td>
      </tr>
    {{/each}}
  </table>
</div>